body {
  background-color: black;
  color: green;
  font-family: monospace;
}

.container {
  width: 800px;
  margin: 0 auto;
}

.seal-pic {
  margin-bottom: 20px;
}

.button {
  display: inline-block;
}