body {
  background-color: black;
  color: green;
  font-family: monospace;
}

.stats-container {
  width: 100%;
  text-align: center;
}

.container {
  width: 800px;
  margin: 0 auto;
}

.seal-pic {
  margin-bottom: 20px;
}

.button {
  display: inline-block;
}

.hide {
  display: none;
}